/*Hintegrund Farbe*/
body {
	padding-top: 100px;
	margin: 0px;
	padding: 0 px;
	background-color: #696969;
}
/*Unit Converter Farbe*/
h1 {
  color: #DCDCDC;
  font-family: 'Verdana', sans-serif;
  letter-spacing: 
  font-weight: 700;
  }
  
/*mittig ausrichten*/
.converter-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
.converter-wrapper span select {
  background-color: #FFFFFF;
  color: #000;
  font-size: inherit;
  padding: 10px;
  width: 100%;
  border: 0;
  margin: 0;
  border-radius: 0px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: none; /* hide default arrow in chrome OSX */
}


.converter-side-a,
.converter-side-b {
  float: left;
  margin-top: 10px;
  box-sizing: border-box;
  width: 45%;
}

.converter-side-a {
  padding-right: 10px;
}

.converter-side-b {
  padding-left: 10px;
}